<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="deptDemo">
    <select id="query1" resultType="cn.chaory.mybatisTest.bean.dept" >
        select * from dept_test
    </select>
    <insert id="insert1" parameterType="cn.chaory.mybatisTest.bean.dept">
        insert dept_test values(#{id},#{dedeptName},#{loc})
    </insert>
</mapper>